.navbar-top {
  background: #fff;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  .img-logo {
    margin: 0 auto;
    img {
      width: 100%;
      height: 5rem;
    }
  }
}