<div class="container-list">
  <div class="action-bar">
    <input type="text" placeholder="Search" (change)="handleChange($event)">
    <button (click)="createProduct()">Agregar</button>
  </div>
  <div class="list">
    <table class="table-prod">
      <thead class="table-head">
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de reestructuración</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr class="table-item" *ngFor="let item of records.data">
          <td>
            <img
              [src]="item['logo'].length > 3 && item['logo'][0]+item['logo'][1]+item['logo'][2]+item['logo'][3] !== 'http' ? '../../../../assets/defaultpng.png' : item['logo']"
              onerror="this.src='../../../../assets/defaultpng.png'" />
          </td>
          <td>{{item["name"]}}</td>
          <td>{{item["description"]}}</td>
          <td>{{item["dateRelease"] | date: 'dd/MM/yyyy'}}</td>
          <td>{{item["dateRevision"] | date: 'dd/MM/yyyy'}}</td>
          <td>
            <select #selectOptions (change)="handleActions(selectOptions.value, item)">
              <option [value]="null"></option>
              <option *ngFor="let menuItem of menu" [value]="menuItem.url">
                {{menuItem.label}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer">
      <div class="total">
        <p>{{records.totalRecords}} Resultados</p>
      </div>
      <div class="paginator">
        <select #selectRows (change)="handleOption(selectRows.value)">
          <option *ngFor="let pageOption of rowsPerPage" [value]="pageOption">
            {{pageOption}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="modal">
  <div class="delete">
    <div class="delete-title">
      ¿Estas seguro de elminar el producto {{selectedProduct.name}}?
    </div>
    <div class="delete-actions">
      <button (click)="cancelModal()" class="btn-cancel">Cancelar</button>
      <button (click)="confirmDelete()" class="btn-delete">Confirmar</button>
    </div>
  </div>
</div>
<div *ngIf="showModalSuccess" class="modal">
  <div class="success">
    <img src="../../../assets/okpng.png" alt="">
    {{textModal}}
  </div>
</div>
<div *ngIf="showModalError" class="modal">
  <div class="error">
    <img src="../../../assets/error.png" alt="">
    {{textModal}}
  </div>
</div>